#menu {
	margin: 0;
	padding: 0;
        width: 880px;
	list-style: none;
	position: relative;
	float: left;
	background: #ddd;
	font-size:20px;
        font-weight: bold;
	font-family:tahoma, arial, sans-serif;
}
#menu li {
	margin: 0;
	padding: 0;
	float: left;
	border-right: 1px solid #999;
}
#menu li a {
	padding: 10px 15px;
	display: block;
	color: #000;
	text-decoration: none;
}
#menu li ul {
	margin: 0;
	padding: 15px 0;
	list-style: none;
	float: left;
	position: absolute;
	left: 0;
	width: 500px;
	color: #fff;
	background: #CCC url('bottom.gif') no-repeat bottom;
	display: none;
}
#menu li ul li { border-right: 1px solid #fff; }
#menu li ul li a { display: inline; }
#menu li ul li a:hover { text-decoration: underline; }

#site_title {
	left:30px;
	
}